In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

data = pd.read_csv("/Users/selenaavci/Desktop/AutoInsurance.csv")
data.head(5)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,3/2/2011,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [9]:
columns_to_drop = ['Months Since Policy Inception', 'Number of Open Complaints', 'Policy', 'Renew Offer Type', 'Coverage', 'Customer Lifetime Value', 'Location Code', 'Effective To Date', 'Months Since Last Claim','Customer']
data.drop(columns=columns_to_drop, inplace=True)

In [10]:
X = data.columns.values.tolist()
X

['State',
 'Response',
 'Education',
 'EmploymentStatus',
 'Gender',
 'Income',
 'Marital Status',
 'Monthly Premium Auto',
 'Number of Policies',
 'Policy Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size']

In [11]:
label_encoder = LabelEncoder()

def encoder(st):
    data[st]= label_encoder.fit_transform(data[st])
    data[st].unique()

d = data.dtypes
j = 0
for i in d:
    if(i == object):
        encoder(X[j])
    j+=1

data.head(5)

,State,Response,Education,EmploymentStatus,Gender,Income,Marital Status,Monthly Premium Auto,Number of Policies,Policy Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,4,0,0,1,0,56274,1,69,1,0,0,384.811147,5,1
1,0,0,0,4,0,0,2,94,8,1,0,1131.464935,0,1
2,2,0,0,1,0,48767,1,108,2,1,0,566.472247,5,1
3,1,0,0,4,1,0,1,106,7,0,2,529.881344,3,1
4,4,0,0,1,1,43836,2,73,1,1,0,138.130879,0,1

In [12]:
x = data.drop(['EmploymentStatus'], axis=1)
y = data['EmploymentStatus']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [18]:
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

# Print the results
print(f'Accuracy: {accuracy:.2f}')
print('Classification Report:\n', classification_report_str)

Accuracy: 0.90
Classification Report:
               precision    recall  f1-score   support

           0       0.56      0.13      0.21        71
           1       0.89      0.99      0.94      1141
           2       0.40      0.27      0.32        82
           3       0.00      0.00      0.00        47
           4       1.00      1.00      1.00       486

    accuracy                           0.90      1827
   macro avg       0.57      0.48      0.49      1827
weighted avg       0.86      0.90      0.88      1827

/Users/selenaavci/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(